body {
	margin: 0;
	font-family: Helvetica;
}
#imgWrapper {
	background-color: rgb(238, 238, 238);
}
#imgSequence {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
section.header {
	padding: 10px;
}
section.header p.description {
	font-size: 18px;
}
div.imgContainer {
	position: relative;
	height: 0;
}
div.imgContainer .hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s linear;
}
div.imgContainer .visible {
	visibility: visible;
	opacity: 1;
	transition: visibility 0.5s, opacity 0.5s linear;
}
img {
	width: 100%;
	position: relative;
}
div.imgTitle {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}
div.imgTitle div.titleContent {
	font-size: 5.5vw;
	padding: 2vw 1vw;
	display: inline-block;
}
div.imgCaption {
	position: absolute;
	bottom: 0;
	color: #fff;
	max-width: 40%;
	background-color: rgba(0, 0, 0, .5);
}
div.imgCaption div.captionContent {
	font-size: 2vw;
	padding: 1vw;
}
div.imgCaption div.captionContent a {
	color: #3498db;
}
#hide-show-captions {
	position: fixed;
	left: 87%;
	bottom: 6vw;
	font-size: 1.2vw;
	padding: 6px;
}
#back-to-top {
	position: fixed;
	left: 87%;
	bottom: 2vw;
	font-size: 1.2vw;
}
/*
Hopefully this'll look good enough for small smartphone screens
*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 640px) {
	div.imgCaption div.captionContent {
		font-size: 3vw;
	}
	#hide-show-captions {
		font-size: 3vw;
		bottom: 100px;
		left: 75%;
	}
	#back-to-top {
		font-size: 3vw;
		bottom: 50px;
		left: 75%;
	}
}
