body {
	margin: 0;
	font-family: Helvetica;
}
#imgWrapper {
	background-color: rgb(238, 238, 238);
}
#imgSequence {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
section.header {
	padding: 10px;
}
section.header p.description {
	font-size: 18px;
}
div.imgContainer {
	position: relative;
	height: 0;
}
div.imgContainer .hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s linear;
}
div.imgContainer .visible {
	visibility: visible;
	opacity: 1;
	transition: visibility 0.5s, opacity 0.5s linear;
}
img {
	width: 100%;
	position: relative;
}
div.imgTitle {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}
div.imgTitle div.titleContent {
	font-size: 5.5vw;
	padding: 2vw 1vw;
	display: inline-block;
}
div.imgCaption {
	position: absolute;
	bottom: 0;
	color: #fff;
	max-width: 35%;
	background-color: rgba(0, 0, 0, .5);
}
div.imgCaption div.captionContent {
	font-size: 1.5vw;
	padding: 1vw;
}
#hide-show-captions {
	position: fixed;
	left: 90%;
	bottom: 5vw;
	font-size: 1.2vw;
}
#back-to-top {
	position: fixed;
	left: 90%;
	bottom: 2vw;
	font-size: 1.2vw;
}
